{{ form_start(form) }}
    {{ form_row(form.content)}}
    {{ form_row(form.geolocation)}}
    {{ form_rest(form.media.vars.prototype)}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
