{% extends 'base.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block body %}
<h1>Posts index</h1>

{% for medium in media %}

    <img style="width: 150px;" src="assets/{{ medium.path }}" alt="">
    {% for post in posts %}
        {{ post.content }}
        {{ post.geolocation }}
        <a href="{{ path('posts_edit', {'id': post.id}) }}">edit</a>
    {% else %}
    no records found

    {% endfor %}
{% endfor %}
<a href="{{ path('posts_new') }}">Create new</a>
{% endblock %}