<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon_instagram.ico') }}">

</head>

<body>
    {% block header %}
    {% if app.user %}
    <header>
        <div class="container">
            <a href="{{ path('home', {'username': app.user.username}) }}"><div class="logo"></div></a>
            <div class="search_container">
                <input class="search" type="text" autocapitalize="none" placeholder="Rechercher">
            </div>
            <nav>
                <ul>
                    <div><a href="{{ path('posts_new', {'username': app.user.username}) }}">
                        <div class="add"></div>
                    </a></div>
                    <div><a href="{{ path('home', {'username': app.user.username}) }}">
                            <div class="home"></div>
                        </a></div>
                    <div><a href="">
                            <div class="inbox"></div>
                        </a></div>
                    <div><a href="{{ path('explore', {'username': app.user.username}) }}"><img class="compass" src="{{ asset('assets/explore.png') }}" alt=""></a></div>
                    <div><a href="">
                            <div class="heart"></div>
                        </a></div>
                    {% if app.user %}
                    <div id="container_profil_thumbnail"><img
                            class="profil_thumbnail" src="{{ asset( app.user.thumbnail ) }}" alt="profil thumbnail">
                        
                        <div id="container_submenu">
                            <span id="triangle"></span>
                            <div class="submenu">
                                <a href="{{ path('users_show', {'username': app.user.username}) }}" class="profil">
                                    <img src="{{ asset('assets/profil_icon.svg') }}" alt="">
                                    <p>Profil</p>
                                </a>
                                <a href="">
                                    <img src="{{ asset('assets/save_icon.svg') }}" alt="">
                                    <p>Enregistré</p>
                                </a>
                                <a href="">
                                    <img src="{{ asset('assets/setting_icon.svg') }}" alt="">
                                    <p>Paramètres</p>
                                </a>
                                <a href="">
                                    <img src="{{ asset('assets/switch_account_icon.svg') }}" alt="">
                                    <p>Changer de compte</p>
                                </a>
                                <hr class="border">
                                <a href="{{ path('app_logout') }}">
                                    <p class="logout">Déconnexion</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </header> 
    {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}

</body>
{% block javascripts %}
    <script src="{{ asset('js/nav.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/axios_request_home.js') }}"></script>
{% endblock %}

</html>