{% block header %}
<header>
    <img src="{{ asset('assets/Instagram_logo.png') }}" alt="">
    <nav>
        <ul>
            <a href="/posts"><img src="{{ asset('assets/home.png') }}" alt=""></a>
            <a href="/posts"><img src="{{ asset('assets/inbox.png') }}" alt=""></a>
            <a href="/posts"><img src="{{ asset('assets/explore.png') }}" alt=""></a>
            <a href="/posts"><img src="{{ asset('assets/heart.png') }}" alt=""></a>
            <a href="/users"><img src="" alt="">profil</a>
        </ul>
    </nav>
</header>
{% endblock %}