{% extends 'base.html.twig' %}


{% block title %}{{ user.name }} (@{{user.username}}) . Home {% endblock %}

{% block body %}
<section class="home_page">
    {% if users_post %}
    {% for user_post in users_post %}
    {% for post in user_post.posts %}

    <article class="post_home">
        <div class="container_post_home">
            <div class="header_home">
                <div class="user_header_home">
                    <img src="{{ asset(user_post.thumbnail) }}" alt="picture profile">
                    <a href="">{{ user_post.username }}</a>
                </div>
                <button>
                    <div class="circle"></div>
                </button>
            </div>
            <div class="post_img">
                {% for img in post.media %}
                <img src="{{ asset(img.path) }}" alt="">
                {% endfor %}
            </div>
            <div class="share">
                <div class="icons">
                    <div class="icons_share">
                        <a href="{{ path('post_like', {'id': post.id}) }}" class="js-like">
                            {% if app.user and post.isLikedByUser(app.user) %}
                            <div class="heart like_icon_red"></div>
                            {% else %}
                            <div class="heart like_icon"></div>
                            {% endif %}
                            <button class="likes">
                                <p class="nb-js-like">{{post.likes | length}} J'aime</p>
                            </button>
                        </a>
                        <a>
                            <div class="comment_icon"></div>
                        </a>
                        <a>
                            <div class="send_icon"></div>
                        </a>
                    </div>
                    <a href="{{ path('post_save', {'id': post.id}) }}" class="save_post_Btn">
                        {% if app.user and post.isSavedByUser(app.user) %}
                        <div class="save_icon full"></div>
                        {% else %}
                        <div class="save_icon empty"></div>
                        {% endif %}
                    </a>
                </div>
             
                <div class="content">
                    <p><a href="">{{ user_post.username }}</a> {{post.content}}</p>
                </div>
                <div class="comment">
                    {% for comment in post.comments %}
                    <p><a href="">username</a> {{ comment.text }}</p>
                    {% endfor %}
                </div>
                <div class="time">
                    {% set difference = date(post.publication_date).diff(date('now')) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays == 0 and difference.h > 0 %}
                        <a href="">Il y'a {{ difference.h }} heures </a>
                    {% endif %}
                    {% if leftDays == 0 and difference.h == 0 and difference.i > 0 %}
                        <a href="">Il y'a {{ difference.i }} minutes </a>
                    {% endif %}
                    {% if leftDays == 0 and difference.h == 0 and difference.i == 0 %}
                        <a href="">Il y'a {{ difference.s }} secondes </a>
                    {% endif %}
                    {% if leftDays == 1 %}
                            <a  href="">Il y'a 1 jour</a>
                        {% elseif leftDays > 1 and leftDays <= 6 %} 
                            <a href="">Il y'a {{ leftDays }} jours</a>
                        {% elseif leftDays > 6 %} 
                            <a href="">{{post.publication_date|date('j F' )}} </a>   
                    {% endif %}

                </div>
            </div>
            <div class="add_comment">
                <form action="{{ path('comments_new', {'username': app.user.username}) }}" method="POST">
                    <input type="hidden" name="post_id" value={{ post.id }}>
                    <input type="hidden" name="user_id" value={{ app.user.id }}>
                    <textarea cols="100" name="comment_text" autocomplete="off"
                        placeholder="Ajouter un commentaire..."></textarea>
                    <button type="submit" name="submit">Publier</button>
                </form>
            </div>
        </div>
    </article>
    {% endfor %}
    {% endfor %}
    {% else %}
    <p>Abonnez vous!</p>
    {% endif %}
</section>
{% endblock %}
