{% extends 'base.html.twig' %}


{% block title %}{{ user.name }} (@{{user.username}}) . Photos et vidéos Instagram{% endblock %}

{% block body %}
<section class="user_show_body">
    <div class="user_show">

        <div id="profil_img" class="profil_img">
            <label for="thumbnail_input">
                <img id="img_thumbnail" src="{{ asset( user.thumbnail ) }}" alt="photo" />
            </label>
            {% if user.thumbnail == 'assets/profil/default_picture.jpg'  %}
            <form enctype="multipart/form-data" method="POST" action="{{ path('thumbnail_edit', {'username': user.username}) }}">
                <input type="file" accept="image/jpeg,image/png" id="thumbnail_input" name="thumbnail_input" onchange="form.submit()">
            </form> 
            {% endif %}
        </div>
        <section class="profil_content">
            <div class="username">
                <h3>{{ user.username }}</h3>
                <a href="{{ path('users_edit', {'username': user.username}) }}"><button>Modifier profil</button></a>
                <div id="btn_setting_modal"></div>
            </div>
            <ul class="count">
                <li>{{posts|length}} publications</li>
                <li>{{follow|length}} abonnés</li>
                <li>{{followers|length}} abonnements</li>
            </ul>
            <div class="description">
                <p>{{ user.name }}</p>
                <p>{{ user.description }} </p>
            </div>
        </section>
    </div>
    <div class="list_post_user">
        <a href="" class="square">
            <span>
                <div class="square_icon"></div>
                <p>publications</p>
            </span>
        </a>
        <a href="" class="igtv">
            <span>
                <div class="igtv_icon"></div>
                <p>igtv</p>
            </span>
        </a>
        <a href="" class="save">
            <span>
                <div class="save_icon"></div>
                <p>enregistrements</p>
            </span>
        </a>
        <a href="" class="people">
            <span>
                <div class="people_icon"></div>
                <p>identifié(e)</p>
            </span>
        </a>
    </div>
    <article class="post_user_show">
         {% if posts %}
        <div class="container_post_user">
            {% for post in posts %}
            <div class="post_user">
                {% for img in post.media %}
                <img src="{{ asset(img.path) }}" alt="">
                {% endfor %}
            </div>
            {% endfor %}
        </div>    
        {% else %}
        <p class="no_post">Pas de publication</p> 
        {% endif %}
    </article>
</section>
<section id="thumbnail_modal">
    <div id="container_thumbnail_modal">
        <div class="title_thumbnail_modal">
            <h3>Modifier la photo de profil</h3>
        </div>
        <div class="btn_thumbnail_modal">
            <div id="new_picture">
                <form enctype="multipart/form-data" method="POST" action="{{ path('thumbnail_edit', {'username': user.username}) }}">
                <label  for="thumbnail_input_modal">Importer une photo</label>
                <input accept="image/jpeg,image/png" type="file" id="thumbnail_input_modal"  name="thumbnail_input" onchange="form.submit()">
                </form> 
            </div>
            <div id="delete_picture">
                <a href="{{ path('thumbnail_delete', {'username': user.username}) }}">
                    <button >Supprimer la photo actuelle</button>
                </a>
            </div>
            <button id="cancel">Annuler</button>
        </div>
    </div>
</section>
<a href="{{ path('users_index') }}">back to list</a>
{{ include('users/_delete_form.html.twig') }}
<script src="{{ asset('js/user_show.js') }}"></script>
{% endblock %}